# exclude files with no extension
*
!/**/
!*.*

# exclude test files
[Tt]est*

# exclude profiler files
gmon.out
perf.data
perf.data.old
*.svg

# unexclude makefile
!Makefile


# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
